<div class="container" id="about">
  <div class="mt-5 mb-3  col-sm-5 col-lg-4 col- topic  py-1">
    About 
   </div>

  <div class="row ">

    <!--Grid column-->
    <div class="col">
      <h2 class="my-2 display-6 text-grey mb-4 wow fadeInDown " data-wow-delay="0.5s"  data-wow-duration="2s"> Kirthi Binaikiya</h2>
      <p class="wordings_font text-muted wow fadeInUp " data-wow-delay="1s" data-wow-duration="2s" > "Myself Venkateshwar. I'm an interior designer with one year work experience as an lighting
        designer. I'm looking to work
        for a interior/architect firm that can provide me with projects that yield the lucrative returns and wherein I
        can showcase
        my skills and expertise."
      </p>

    </div>
    <div class="col-md-4  text-center ">



      <img class=" wow fadeInDown rounded-circle "   data-wow-duration="2s" width="250" height="250" alt="100x100"
        src="https://projects-portfolio.s3.ap-south-1.amazonaws.com/ProfilePic/ProfilePic.png"
        data-holder-rendered="true">
    </div>
    
  </div>