/* You can add global styles to this file, and also import other style files */

.logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #DAA520;
    
}
.titles{
   
    font-family:Lato, helvetica, sans-serif ;
    font-size: 3em;
    font-weight: 500;
    text-transform: uppercase;
}
.font-light{
    font-family:Lato, helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.133em;
    font-size: 14px;
    font-weight: 300;
    color: #DAA520 !important;
}
.text-white{
    color: whitesmoke;
}

.text-gold{
    color:#DAA520;
}
.topic {
    font-family: Lato, helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.133em;
    font-size: 25px;
    color: rgb(133, 132, 132); 
}
@media (max-width:992px) {
    .topic {
        font-family: Lato, helvetica, sans-serif;
        font-size: 0.8em;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 0.133em;
        font-size: 20px;
        color: rgb(133, 132, 132);  
    }
}

.wordings_font{
    font-family:var(--bs-body-font-family);
    line-height: 1em;
    letter-spacing: 1px;
    text-align: justify;
    font-weight: 100;
    font-size: 18px;
}

@media (max-width:768px) {
    .wordings_font{
        line-height: 1em;
        letter-spacing: 1px;
        text-align: justify;
        font-weight: 100;
        font-size: 14px !important;

    }
  }
.project_titles{
    font-family:Lato, helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.133em;
    font-size: 20px;
    font-weight: 300;
    text-decoration: underline 15% ;
    
}
@media (max-width:768px) {
    .project_titles{
        font-family:Lato, helvetica, sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.133em;
        font-size: 15px;
        font-weight: 300;
        text-decoration: underline 15% ;
        
    }
}

