<div class="container" id="resume">

    <div class="mt-5 mb-3 col-sm-5 col-lg-4 col- topic  py-1">
        Resume
    </div>

    <div class="text-center">
        <a href="https://projects-portfolio.s3.ap-south-1.amazonaws.com/Resume/Kirthi_Resume.jpg" target="_blank">
    <img src="https://projects-portfolio.s3.ap-south-1.amazonaws.com/Resume/Kirthi_Resume.jpg" class="card-img-top img-sizing  p-0 shadow " alt="movie_image">
        </a>
</div>
<!-- <embed src= "https://projects-portfolio.s3.ap-south-1.amazonaws.com/Resume/Venkateshwar+S_Resume.pdf" class="img-sizing" type="application/pdf"> -->
</div>