<div class="container" id="contact">
    <div class="mt-5 mb-3  col-sm-5 col-lg-4 col- topic  py-1">
        Contact
    </div>
    <div class=" text-center p-3" >
        <a class="mx-2" href="tel:+916380403800" target="_blank" type="button" role="button"><i class="fa-solid fa-square-phone fa-3x text-dark"></i>
        </a>
        <a class="mx-2" href="https://instagram.com/kritss_1508?igshid=YmMyMTA2M2Y=" target="_blank" type="button" role="button" ><i class="fa-brands fa-instagram-square fa-3x text-dark"></i>
        </a>
        <a class="mx-2" href="mailto:kirthibinaikiya2001@gmail.com" target="_blank"type="button" role="button">
            <i class="fa-solid fa-square-envelope fa-3x text-dark"></i>
        </a>
       
        <a class="mx-2" href="https://wa.me/916380403800" target="_blank" type="button" role="button"><i class="fa-brands fa-whatsapp-square fa-3x text-dark"></i>
        </a>
        
    </div>
</div>