<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" >
    <div class="carousel-inner">
      
      <div class="carousel-item active " data-bs-interval="1000">
        <img src="https://projects-portfolio.s3.ap-south-1.amazonaws.com/carousal1.jpeg" class="d-block w-100 " alt="..." >
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img src="https://projects-portfolio.s3.ap-south-1.amazonaws.com/carousal+2.jpeg" class="d-block w-100 " alt="..." >
      </div>
    </div>
  </div>