<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel"  >
    <div class="carousel-inner">
      
      <div class="carousel-item active " data-bs-interval="1500" >
        <img src="https://projects-portfolio.s3.ap-south-1.amazonaws.com/Carousals/carousal_11.png" class="d-block w-100 " alt="carousal" >
      </div>
      <div class="carousel-item" data-bs-interval="2000" >
        <img src="https://projects-portfolio.s3.ap-south-1.amazonaws.com/Carousals/carousal_12.png" class="d-block w-100 " alt="carousal" >
      </div>
      <div class="carousel-item" data-bs-interval="2000" >
        <img src="https://projects-portfolio.s3.ap-south-1.amazonaws.com/Carousals/carousal_13.jpg" class="d-block w-100 " alt="carousal" >
      </div>
      <div class="carousel-item" data-bs-interval="2000" >
        <img src="https://projects-portfolio.s3.ap-south-1.amazonaws.com/Carousals/carousal_14.jpg" class="d-block w-100 " alt="carousal" >
      </div>
      <div class="carousel-item" data-bs-interval="2000" >
        <img src="https://projects-portfolio.s3.ap-south-1.amazonaws.com/Carousals/carousal_15.jpg" class="d-block w-100 " alt="carousal" >
      </div>
    </div>
  </div>
